<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="System Tests" verbose="1" parallel="classes">
    <parameter name="url" value="https://wallethub.com"/>


    <test name="Create review tests on Chrome" preserve-order="true" group-by-instances="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="CompanyPageTests"/>
        </classes>
    </test>

    <test name="Create review tests on Firefox" preserve-order="true" group-by-instances="true">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="CompanyPageTests"/>
        </classes>
    </test>

    <test name="Create review tests on Edge" preserve-order="true" group-by-instances="true">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="CompanyPageTests"/>
        </classes>
    </test>
</suite>
